<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
      package="com.skarcha.nobrowser"
      android:versionName="1.2.0" android:versionCode="4">
<uses-permission android:name="android.permission.INTERNET"></uses-permission>
<uses-sdk android:minSdkVersion="3"></uses-sdk>


    <application android:icon="@drawable/icon" android:label="@string/app_name" android:theme="@android:style/Theme.NoDisplay">
        <activity android:name="com.skarcha.nobrowser.Main" android:theme="@android:style/Theme.NoDisplay">
            <intent-filter>
                <action android:name="android.intent.action.VIEW"></action>
                <category android:name="android.intent.category.DEFAULT"></category>
                <category android:name="android.intent.category.BROWSABLE"></category>
                <data android:scheme="http" android:host="twitlonger.com" android:pathPattern="/show/.*"></data>
                <data android:pathPattern="/show/.*" android:scheme="http" android:host="www.twitlonger.com"></data>
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW"></action>
                <category android:name="android.intent.category.DEFAULT"></category>
                <category android:name="android.intent.category.BROWSABLE"></category>
                <data android:scheme="http" android:host="tl.gd"></data>
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW"></action>
                <category android:name="android.intent.category.DEFAULT"></category>
                <category android:name="android.intent.category.BROWSABLE"></category>
                <data android:scheme="http" android:host="market.android.com"></data>
                <data android:scheme="https" android:host="market.android.com"></data>
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW"></action>
                <category android:name="android.intent.category.DEFAULT"></category>
                <category android:name="android.intent.category.BROWSABLE"></category>
                <data android:host="bit.ly" android:scheme="http"></data>
                <data android:host="goo.gl" android:scheme="http"></data>
                <data android:host="is.gd" android:scheme="http"></data>
                <data android:host="j.mp" android:scheme="http"></data>
                <data android:host="kcy.me" android:scheme="http"></data>
                <data android:host="t.co" android:scheme="http"></data>
                <data android:host="tinyurl.com" android:scheme="http"></data>
                <data android:host="urlcorta.es" android:scheme="http"></data>
                <data android:host="youtu.be" android:scheme="http"></data>
            </intent-filter>
        </activity>
        <activity android:name="Preferences" android:theme="@android:style/Theme.Black" android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"></action>
                <category android:name="android.intent.category.LAUNCHER"></category>
            </intent-filter>
        </activity>

    </application>
</manifest>